table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 1px solid black;
    padding: 5px;
}
  
/* Estilo por defecto */
tbody tr {
    background-color: white;
}
  
/* Estilo al pasar el mouse */
tbody tr:hover {
    background-color: #3b53bf;
}

body {
    background-color: hsl(0, 6%, 79%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #ff0000;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}